@use "./src/styles/variables"as *;

.ludus-evaluation-summary-wrapper {
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: minmax(0, 1fr);
	gap: 20px;

	.evaluation-summary-moods {
		border-right: 1px solid $DarkGrey;
		padding-right: 20px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: minmax(0, 1fr);
		gap: 20px;

		.evaluation-summary-circle-wrapper {
			transition: all 0.5s;
			
			.circle-segment-wrapper {
				cursor: pointer;

				&:hover {
					.circle-segment, .circle-text {
						transform: scale(1.1);
					}
				}

				&.circle-segment-wrapper-active {
					.circle-segment, .circle-text {
						transform: scale(1.1);
					}
				}

				.circle-segment {
					stroke: white;
					stroke-width: 2px;
					transition: all 0.3s;
				}
	
				.circle-text {
					transition: all 0.3s;
					font-size: 7px;
					font-family: $Poppins;
					font-weight: $light;
					fill: inherit;
					filter: grayscale(100) contrast(100) invert(100);
				}
			}
		}

		.ludus-emotions-wrapper {
			display: grid;
			grid-template-rows: auto minmax(0, 1fr) auto;

			.ludus-emotions {
				display: flex;
				flex-direction: column;
				gap: 20px;
				margin-top: 20px;
				overflow: auto;
	
				.ludus-emotion {
					border: 2px solid $SeaGreen;
					border-radius: $BorderRadius;
					padding: 10px 15px;
					transition: all 0.3s;
					cursor: pointer;
	
					&:hover {
						background-color: rgba($color: $SeaGreen, $alpha: 0.4);
					}
	
					&.ludus-emotion-modifier-active {
						background-color: $SeaGreen;
						color: white;
						
						.ludus-emotion-modifier {
							color: white;
						}
					}
	
					.ludus-emotion-modifier {
						font-size: 13px;
						color: $DarkGrey;
						text-transform: uppercase;
						margin-top: 10px;
					}
				}
			}
	
			.ludus-emotion-refresh {
				margin-top: 20px;
				color: $DarkGrey;
				font-size: 11px;
				display: flex;
				gap: 5px;
				align-items: center;
				justify-content: flex-end;
				cursor: pointer;
			}
		}
	}

	.ludus-evaluation-summary {
		display: grid;
		grid-template-rows: auto minmax(0, 1fr) auto;
		gap: 20px;

		.ludus-summary-wrapper {
			display: flex;
			flex-direction: column;
			gap: 20px;
			overflow: auto;
			padding: 5px 10px;
	
			.ludus-summary {
				border-radius: $BorderRadius;
				padding: 10px 15px;
				box-shadow: $BoxShadow;
				display: flex;
				align-items: center;
				justify-content: space-between;
				gap: 10px;
	
				&:hover {
					.ludus-summary-delete {
						opacity: 1;
					}
				}
	
				.ludus-summary-modifier {
					font-size: 13px;
					color: $DarkGrey;
					text-transform: uppercase;
					margin-top: 10px;
				}
	
				.ludus-summary-delete {
					opacity: 0;
					color: $DarkGrey;
					transition: all 0.3;
					cursor: pointer;
				}
			}
		}
	}
}