@use "./src/styles/variables"as *;

.ludus-strategy-summary {
	display: grid;
	grid-template-columns: minmax(0, 1fr) auto;
	gap: 20px;
}

.ludus-topic-summary {
	display: grid;
	grid-template-columns: min-content auto;
	gap: 20px;

	.summary-heading.ludus-topic-heading {
		margin: 0;
		margin-top: 5px;
	}
	
	.ludus-lesson-rating {
		.icon {
			font-size: 25px;
		}
	}
}
