@use "./src/styles/variables" as *;

.section-tracker-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;

	&.bar-section-tracker {
		justify-content: center;

		.tracker-sections {
			.tracker-section-bar {
				height: 20px;
				width: 250px;
				display: flex;
				align-items: center;
				cursor: pointer;

				&.section-disabled-true {
					pointer-events: none;
				}

				&:hover {
					.tracker-section {
						background-color: $SeaGreen60;
						height: 10px;
					}
				}

				.tracker-section {
					height: 8px;
					min-width: 250px;
					border-radius: 0;
				}
			}
		}

	}

	.tracker-arrow {
		color: $Black;
		transition: all 0.3s;
		width: 20px;
		height: 20px;
		cursor: pointer;

		&.tracker-arrow-disabled {
			color: $LightGrey !important;
		}

		&:hover {
			color: $DarkGrey;
		}

		.icon {
			font-size: 30px;
		}
	}

	.tracker-sections {
		display: flex;
		gap: 20px;

		.tracker-section {
			height: 20px;
			width: 20px;
			border-radius: 20px;
			background-color: $LightGrey;
			transition: all 0.3s;
			cursor: pointer;

			&.section-active-true {
				background-color: $SeaGreen;
			}

			&.section-disabled-true {
				pointer-events: none;
			}

			&:hover {
				background-color: $SeaGreen60;
			}
		}
	}
}