@use "./src/styles/variables" as *;

.modal-wrapper {
	height: 100vh;
	width: 100vw;
	position: fixed;
	top: -150vh;
	left: 0;
	z-index: 10;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0s 0.3s;

	&.modal-open {
		transition: all 0s 0s;
		top: 0;

		.modal-box {
			top: 0;
			opacity: 1;
		}
	}

	.modal-box {
		border-radius: $BorderRadius;
		box-shadow: $BoxShadow;
		position: relative;
		top: -100px;
		opacity: 0;
		transition: all 0.3s;
		width: 90%;
		height: 90%;
		display: grid;
		grid-template-rows: minmax(90px, auto) minmax(0, 1fr);

		.modal-header {
			background-color: $SeaGreen;
			color: $White;
			padding: 20px 40px;
			font-size: 40px;
			font-family: $Poppins;
			font-weight: $semi-bold;
			border-radius: $BorderRadiusTop;
		}

		.modal-body {
			padding: 40px;
			background-color: $White;
			border-radius: $BorderRadiusBottom;
			font-size: 18px;
		}
	}
}

.modal-overlay {
	height: 100vh;
	width: 100vw;
	position: fixed;
	top: -150vh;
	left: 0;
	z-index: 9;
	background-color: $MediumGrey;
	transition: opacity 0.3s, top 0s 0.5s;
	opacity: 0;

	&.modal-overlay-open {
		transition: opacity 0.3s, top 0s 0s;
		opacity: 0.8;
		top: 0;
	}
}