stages:
  - test
  - build
  - deploy

sast:
  stage: test
include:
  - template: Security/SAST.gitlab-ci.yml

build:
  image: node:14
  stage: build
  script:
    - echo "Installing Aurelia"
    - npm install -g aurelia-cli
    - echo "Performing nom install"
    - npm install
    - echo "Building Aurelia Project"
    - npm run build
  artifacts:
    paths:
      - wwwroot/
    expire_in: 1 day
  only:
    - release

deploy:
  stage: deploy
  script:
    - echo "Configuring SSH"
    - 'command -v ssh-agent >/dev/null || ( apk add --update openssh )'
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - ssh-keyscan $SSH_IP_ADDRESS >> ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts
    - echo "Copying files to remote server"
    - scp -r wwwroot $SSH_USERNAME@$SSH_IP_ADDRESS:/var/www/imy-au
  only:
    - release
