@use "./src/styles/variables"as *;

.gif-search-wrapper {
	position: relative;

	&.gif-search-open {
		.gif-search-dropdown {
			display: flex;
		}
	}

	.gif-search-input {
		width: 300px;
	}

	.giphy-logo {
		position: absolute;
		z-index: 10;
		left: 0;
		top: 65px;

		img {
			height: 35px;
		}
	}

	.gif-search-dropdown {
		position: absolute;
		z-index: 9;
		top: 65px;
		display: none;
		justify-content: center;
		flex-wrap: wrap;
		padding: 10px;
		gap: 10px;
		background-color: $Black;
		box-shadow: $BoxShadow;
		max-width: 750px;
		max-height: 500px;
		overflow: auto;

		.giphy-result {
			transition: all 0.3s;
			cursor: pointer;
		}

		.gif-empty-search {
			color: $LightGrey;
			display: flex;
			align-items: flex-end;
			padding-bottom: 10px;
			justify-content: center;
			gap: 10px;
			width: 280px;
			height: 75px;
		}

		.gif-load-more {
			display: flex;
			flex-direction: column;
			gap: 5px;
			align-items: center;
			justify-content: center;
			padding: 20px;
			transition: all 0.3s;
			cursor: pointer;
			background-color: $DarkGrey;
			color: white;

			&:hover {
				background-color: darken($color: $DarkGrey, $amount: 1.1);
			}

			.icon {
				font-size: 30px;
			}
		}
	}

	.chosen-gif {
		height: 300px;
		width: 500px;
		margin-top: 10px;
		position: relative;

		.giphy-logo-on-chosen {
			position: absolute;
			left: 0;
			top: 0;
	
			img {
				height: 35px;
			}
		}

		> img {
			max-height: 100%;
			max-width: 100%;
		}
	}
}