@use "./src/styles/variables"as *;

.reflections-details-wrapper {
	max-height: 100%;
	padding: 0 5px;
	padding-bottom: 20px;
	gap: 30px;
	display: grid;
	grid-template-rows: minmax(0, 1fr) 20px;
	overflow: hidden;
	height: 100%;

	&.public-reflections-details-wrapper {
		height: initial;
		display: block;
		max-height: initial;
	}

	>*:not(.reflection-section-tracker) {
		flex: 1;
	}

	.reflections-details {
		height: 100%;
		box-shadow: $BoxShadowTop;
		border-radius: $BorderRadius;
		overflow: hidden;
		display: grid;
		grid-template-rows: 60px minmax(0, 1fr);

		.reflection-header-wrapper {
			display: flex;
			align-items: center;
			gap: 10px;
			padding: 0 10px;
			min-height: 60px;
			background-color: $PaleBlue;

			.reflection-header {
				font-family: $Poppins;
				font-size: 22px;
				font-weight: $semi-bold;
			}

			.reflection-date {
				margin-left: auto;
				margin-right: 20px;
				display: flex;
				align-items: center;
				gap: 10px;

				.reflection-date-separator {
					height: 10px;
					width: 10px;
					border-radius: 10px;
					border: 3px solid $Black;
				}
			}
		}

		.reflection-body {
			padding: 25px;
			overflow: auto;
			max-height: 100%;

			.reflection-text {
				font-weight: $light;
				font-size: 16px;
				overflow-wrap: break-word;
			}
		}
	}
}

.reflection-sub-heading {
	font-family: $Poppins;
	font-size: 18px;
	font-weight: $semi-bold;
	margin-bottom: 10px;
}

.reflection-divider {
	padding-bottom: 25px;
	border-bottom: 1px solid $LightGrey;
	margin-bottom: 25px;
}

.ludus-reflection-details-container {
	display: grid;
	grid-template-rows: auto auto;
	grid-template-columns: minmax(0, 1fr);
	gap: 20px;
	max-height: 100%;
	overflow: auto;
	padding: 5px;
	border-bottom: 1px solid $LightGrey;

	.reflections-details-wrapper {
		height: initial;

		.reflection-details {
			height: initial;
			overflow: initial;
			display: block;

			.reflection-body {
				overflow: initial;
				max-height: initial;
			}
		}
	}

	.gauges-details-wrapper {
		overflow: visible;
	}
}