@use "./src/styles/variables"as *;

.reflections-details-wrapper {
	max-height: 100%;
	padding: 0 5px;
	padding-bottom: 20px;
	gap: 30px;
	display: grid;
	grid-template-rows: minmax(0, 1fr) 20px;
	overflow: hidden;
	height: 100%;

	>*:not(.reflection-section-tracker) {
		flex: 1;
	}

	.reflections-details {
		height: 100%;
		box-shadow: $BoxShadowTop;
		border-radius: $BorderRadius;
		overflow: hidden;
		display: grid;
		grid-template-rows: 60px minmax(0, 1fr);

		.reflection-header-wrapper {
			display: flex;
			align-items: center;
			gap: 10px;
			padding: 0 10px;
			min-height: 60px;
			background-color: $PaleBlue;

			.reflection-header-icon {
				height: 40px;
				width: 40px;
				border-radius: 40px;
				background-color: $Orange;
				color: $White;
				font-size: 20px;
				display: flex;
				align-items: center;
				justify-content: center;
			}

			.reflection-header {
				font-family: $Poppins;
				font-size: 22px;
				font-weight: $semi-bold;
			}

			.reflection-date {
				margin-left: auto;
				margin-right: 20px;
				display: flex;
				align-items: center;
				gap: 10px;

				.reflection-date-separator {
					height: 10px;
					width: 10px;
					border-radius: 10px;
					border: 3px solid $Black;
				}
			}
		}

		.reflection-body {
			padding: 25px;
			overflow: auto;
			max-height: 100%;

			.reflection-text {
				padding-bottom: 25px;
				border-bottom: 1px solid $LightGrey;
				margin-bottom: 25px;
				font-weight: $light;
				font-size: 16px;
				line-height: 1.25;
			}

			.category-summary {
				display: flex;
				align-items: center;
				padding: 10px 0;
				gap: 10px;

				.category-icon {
					color: $SeaGreen;
					
					&.category-icon-rating {
						height: 40px;
						width: 40px;
						border-radius: 40px;
						display: flex;
						align-items: center;
						justify-content: center;
						font-family: $Poppins;
						font-weight: $bold;
						color: $White;
					}

					.icon {
						font-size: 35px;
					}

				}

				.category-text {
					.category-heading {
						color: $SeaGreen;
						font-family: $Poppins;
						font-size: 16px;
						font-weight: $bold;
						margin-bottom: 5px;
						text-transform: uppercase;
					}

					.category-body {
						font-weight: $light;
						font-size: 16px;
					}
				}
			}
		}
	}
}