@use "./src/styles/variables"as *;

.prompt-input {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 15px 20px;

	.prompt-period {
		margin-left: -15px;
	}

	input-box {
		width: 400px;
	}

	.prompt-refresh {
		cursor: pointer;

		> span {
			font-size: 50px;
			font-weight: $semi-bold;
		}
	}
}