@use "./src/styles/variables"as *;

.dashboard-page {
	display: grid;
	grid-template-columns: 1fr 35%;
	grid-template-rows: minmax(0, 1fr);
	padding-top: 20px;

	&.dashboard-page-wide {
		grid-template-columns: 1fr 0;

		.dash-section:first-child {
			border-right: none;
		}
	}

	.dash-section {
		padding: 20px 40px;
		max-height: 100%;

		&.reflection-section {
			display: grid;
			grid-template-rows: auto minmax(0, 1fr);
			gap: 50px;
		}

		&:first-child {
			border-right: 1px solid $DarkGrey40;
		}

		.dash-section-heading {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}
}