@use "./src/styles/variables"as *;

.dashboard-page {
	display: grid;
	grid-template-rows: minmax(0, 1fr);
	padding-top: 20px;
	position: relative;

	@include for-desktop {
		grid-template-columns: 2fr minmax(600px, 1fr);
	}
	
	@include for-laptop {
		grid-template-columns: 100%;
		grid-template-rows: auto auto;
		padding-top: 10px;
	}

	&.dashboard-page-wide {
		grid-template-columns: 1fr 0;

		@include for-laptop {
			grid-template-rows: minmax(0, 1fr);
		}

		.dash-section:first-child {
			border-right: none;
		}
	}

	.dash-section {
		padding: 20px 40px;
		max-height: 100%;
		
		@include for-laptop {
			padding: 10px 20px;
		}

		&.reflection-section {
			display: grid;
			grid-template-rows: auto minmax(0, 1fr);
			grid-template-columns: minmax(0, 1fr);
			gap: 20px;

			@include for-laptop {
				grid-row: 1;
			}
		}

		&:first-child {
			border-right: 1px solid $DarkGrey40;
		}

		.dash-section-heading {
			display: flex;
			align-items: center;
			justify-content: space-between;
			flex-wrap: wrap;
		}
	}
}