@use "./src/styles/variables"as *;

.slider-wrapper {
	display: flex;
	align-items: center;
	gap: 20px;
	padding: 20px;
	padding-bottom: 50px;

	.slider-text {
	}

	.slider-bar-wrapper {
		display: flex;
		justify-content: space-between;
		gap: 150px;
		align-items: center;
		position: relative;

		.slider-tick {
			flex: 1;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 10px;
			position: relative;

			&:hover {
				
			}

			span {
				&:first-child {
					height: 70px;
					width: 100px;
					cursor: pointer;
					position: absolute;
					z-index: 1;
					bottom: -40px;
					color: rgba(80, 80, 80, 0.6);
					display: flex;
					align-items: flex-end;
					justify-content: center;
					font-size: 20px;
					top: -20px;

					&:hover {
						font-weight: $bold;

						&~span {
							width: 4px;
						}
					}
				}

				&:last-child {
					height: 30px;
					width: 2px;
					background-color: $Black;
					position: absolute;
				}
			}
		}

		.slider-bar {
			position: absolute;
			width: 100%;
			border: 2px solid $Black;
		}

		.slider-circle {
			position: absolute;
			z-index: 2;
			display: flex;
			align-items: center;
			justify-content: center;
			opacity: 1;
			left: 0;
			transition: all 0.3s;
			
			span {
				position: absolute;
				height: 20px;
				width: 20px;
				border-radius: 20px;
				background-color: $Orange;
			}
		}
	}
}