@use "./src/styles/variables"as *;

@mixin rangeThumb {
	width: 18px;
	height: 18px;
	margin: -8px 0 0;
	border-radius: 50%;
	background: $Orange;
	cursor: pointer;
	border: 0 !important;
}

@mixin rangeTrack {
	width: calc(100% - (20px));
	cursor: pointer;
	margin: auto;
	height: 75px;
	display: flex;
	align-items: center;
}

.slider-wrapper {
	display: flex;
	align-items: center;
	gap: 20px;
	padding: 20px;
	padding-bottom: 50px;

	.slider-bar-wrapper {
		position: relative;
		max-width: 550px;
		min-width: 400px;
		height: 30px;
		display: flex;
		align-items: center;

		&.hide-value {
			input {
				// Thumb
				&::-webkit-slider-thumb {
					opacity: 0;
				}
		
				&::-moz-range-thumb {
					opacity: 0;
				}
		
				&::-ms-thumb {
					opacity: 0;
				}
			}
		}
		
		input {
			width: 100%;
			height: 0;
			-webkit-appearance: none;
			position: relative;
			z-index: 1;
	
			// Thumb
			&::-webkit-slider-thumb {
				-webkit-appearance: none; // needed again for Chrome & Safari
				@include rangeThumb;
			}
	
			&::-moz-range-thumb {
				@include rangeThumb;
			}
	
			&::-ms-thumb {
				@include rangeThumb;
			}
	
			// Track
			&::-webkit-slider-runnable-track {
				@include rangeTrack;
			}
	
			&::-moz-range-track {
				@include rangeTrack;
			}
	
			&::-ms-track {
				@include rangeTrack;
			}
	
			&:focus {
				// override outline/background on focus
				background: none;
				outline: none;
			}
		}

		.slider-bar-ticks {
			position: absolute;
			display: flex;
			justify-content: space-between;
			width: calc(100% - (22px));
			margin: 0 11px;
			height: 2px;
			background-color: $DarkGrey;
			
			> div {
				position: relative;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;

				.slider-bar-tick {
					position: absolute;
					height: 20px;
					width: 2px;
					background-color: $DarkGrey;
				}

				.slider-bar-value {
					position: absolute;
					top: 20px;
				}
			}
		}
	}
}