@use "./src/styles/variables" as *;

.checkbox-wrapper {
	max-width: max-content;

	.checkbox {
		margin-bottom: 10px;
		position: relative;
		padding-left: 28px;
		cursor: pointer;
		line-height: 20px;
		display: flex;
		font-size: 13px;

		&.selected-checkbox::before {
			background-color: $Black !important;
		}

		&.disabled-checkbox {
			opacity: 0.6;
			pointer-events: none;
			cursor: default !important;

			&:hover::before {
				background-color: transparent !important;
			}

			&:before {
				border: 1px solid $DarkGrey;
			}
		}

		&:before {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			width: 18px;
			height: 18px;
			border-radius: $BorderRadius;
			background: transparent;
			transition: all 0.2s ease;
			border: 1px solid $Black;
		}

		&:hover::before {
			background-color: $DarkGrey !important;
		}
	}
}