@use "./src/styles/variables"as *;

.evaluation-topics-wrapper {
	display: grid;
	grid-template-columns: 2fr minmax(300px, 1fr);
	grid-template-rows: minmax(0, 1fr);
	gap: 20px;

	@include for-laptop {
		grid-template-columns: auto;
		grid-template-rows: auto;
	}

	.evaluation-topics-question {
		border-right: 1px solid $DarkGrey60;
		padding-right: 20px;
		display: grid;
		grid-template-rows: auto minmax(0, 1fr);
		grid-auto-rows: minmax(0, 1fr);

		@include for-laptop {
			border-right: none;
			padding-right: 0;
		}

		.evaluation-topics {
			overflow: auto;
		}

		.evaluation-topic {
			display: grid;
			grid-template-columns: 250px 1fr 1fr;
			gap: 20px;
			padding-bottom: 20px;
			margin-bottom: 20px;
			align-items: center;
			max-width: 900px;

			@include for-laptop {
				grid-template-columns: 250px 1fr;
			}

			&.bordered {
				border-bottom: 1px solid $DarkGrey60;
			}

			.evaluation-topic-headings {
				display: grid;
				align-items: center;
				grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
				font-weight: $bold;
				justify-items: center;
				gap: 40px;
				text-align: center;
				margin-top: 30px;
			}

			.topic-phrase {
				font-size: 15px;
				color: $DarkGrey;
				text-align: left;
			}
		}
	}

	.evaluation-topics-summary {
		overflow: auto;
	}
}

.ludus-summary-icon {
	align-items: flex-start;
}

.ludus-lesson-rating {
	display: flex;
	align-items: center;

	.icon {
		font-size: 15px;
		color: $Orange;

		&.ludus-active-rating ~ .icon {
			font-variation-settings: 'FILL' 0;
		}
	}
}