@use "./variables" as *;

.btn-row {
	display: flex;
	align-items: center;
	gap: 5px;
	flex-wrap: wrap;
	margin-top: 30px;
}

.btn {
	outline: none;
	white-space: nowrap;
	border-radius: $BorderRadiusSmall;
	font-size: 18px;
	font-weight: $semi-bold;
	font-family: $Poppins;
	height: 40px;
	padding: 0 20px;
	min-width: 150px;
	transition: all 0.3s;

	&:hover {
		cursor: pointer;
	}
	
	&:focus {
		box-shadow: none;
	}
	
	&:disabled {
		pointer-events: none;
		border: none;
		color: $White;
		background-color: $DarkGrey;
		opacity: 0.6;
	}
}

.btn-default {
	border: 1px solid $SeaGreen;
	color: $SeaGreen;
	background-color: transparent;

	&:hover {
		background-color: $PaleBlue;
		border-color: $PaleBlue;
	}
}

.btn-primary {
	border: none;
	background-color: $SeaGreen;
	color: $White;

	&:hover {
		background-color: $DarkGreen;
	}
}

.circle-icon {
	min-height: 40px;
	min-width: 40px;
	border-radius: 40px;
	background-color: $Orange;
	color: $White;
	font-size: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.square-icon {
	min-height: 40px;
	min-width: 40px;
	border-radius: 10px;
	background-color: $Orange;
	color: $White;
	font-size: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.modal-close {
	height: 40px;
	width: 40px;
	color: $White;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	cursor: pointer;
	
	.icon {
		font-size: 50px;
		font-weight: $bold;
	}
}