.justify-end {
	display: flex;
	justify-content: flex-end;
}

.wrap-gap {
	display: flex;
	align-items: center;
	gap: 5px;
	flex-wrap: wrap;
}

.flex-gap-lg {
	display: flex;
	align-items: center;
	gap: 20px;
}

.ml-auto {
	margin-left: auto;
}

.mb-30 {
	margin-bottom: 30px;
}

.mb-20 {
	margin-bottom: 20px;
}

.mb-10 {
	margin-bottom: 10px;
}

.mt-5 {
	margin-top: 5px;
}

.mt-10 {
	margin-top: 10px;
}

.mt-15 {
	margin-top: 15px;
}

.mt-1 {
	margin-top: 20px;
}

.mt-30 {
	margin-top: 30px;
}

.my-30 {
	margin: 30px 0;
}