@use "./src/styles/variables" as *;

a {
	color: $Black;
	text-decoration: none;

	&:hover {
		color: $Black;
		text-decoration: none;
	}
}

.hyper-link {
	color: $Black;
	text-decoration: underline;

	&:hover {
		color: $SeaGreen;
		text-decoration: underline;
	}
}

.top-heading {
	font-family: $Poppins;
	font-size: 48px;
	font-weight: $bold;
}

.main-heading {
	font-family: $Poppins;
	font-size: 36px;
	font-weight: $semi-bold;
}

.section-heading {
	font-family: $Poppins;
	font-size: 24px;
	font-weight: $semi-bold;
}

.sub-heading {
	font-family: $Poppins;
	font-size: 18px;
	font-weight: $semi-bold;
}

.body-large {
	font-weight: $regular;
	font-size: 22px;
	font-family: $Roboto;
}

.body-small {
	font-weight: $light;
	font-size: 16px;
	font-family: $Roboto;
}

.text-center {
	text-align: center;
}