// fonts
$light-weight: 200;
$medium-weight: 500;
$bold-weight: 900;

$heading-1: 20px;
$heading-2: 15px;
$heading-3: 13px;
$heading-4: 10px;

// colours
$Blue: blue;
$DarkBlue: darkblue;
$Black: black;
$Grey: grey;
$DarkGrey: darkgrey;
$LightGrey: lightgrey;
$White: white;
$Error: red;
$Warning: orange;

// utils
$BorderRadius: 5px;