// fonts
$light: 300;
$regular: 400;
$semi-bold: 600;
$bold: 700;

$Poppins: 'Poppins', sans-serif;
$Roboto: 'Roboto', sans-serif;

// colours
$Black: black;
$Black60: rgba(0, 0, 0, 0.6);
$White: white;
$Error: red; //TODO: find suitable colour for errors

$SeaGreen: #0D7F77;
$DarkGreen: #054A45;
$PaleBlue: #D7ECEF;
$LighterGrey: #F5F5F5;
$LightGrey: #E2E2E2;
$DarkGrey: #505050;
$Orange: #F26430;

$DarkGrey60: rgba($DarkGrey, 0.6);
$DarkGrey40: rgba($DarkGrey, 0.4);
$DarkGrey20: rgba($DarkGrey, 0.2);

// utils
$BorderRadius: 10px;
$BorderRadiusSmall: 5px;
$BorderRadiusTop: $BorderRadius $BorderRadius 0 0;

$BoxShadow: 0px 3px 6px rgba(0, 0, 0, 0.16);