// fonts
$light: 300;
$regular: 400;
$semi-bold: 600;
$bold: 700;

$Poppins: 'Poppins', sans-serif;
$Roboto: 'Roboto', sans-serif;

// colours
$Black: #000;
$White: #fff;
$Error: #e75137; //TODO: find suitable colour for errors

$SeaGreen: #0D7F77;
$DarkGreen: #054A45;
$PaleBlue: #D7ECEF;
$LighterGrey: #F5F5F5;
$LightGrey: #E2E2E2;
$DarkGrey: #505050;
$MediumGrey: #999999;
$Orange: #F26430;

$SeaGreen60: rgba($SeaGreen, 0.6);
$SeaGreen40: rgba($SeaGreen, 0.4);

$LightGrey60: rgba($LightGrey, 0.6);

$DarkGrey60: rgba($DarkGrey, 0.6);
$DarkGrey40: rgba($DarkGrey, 0.4);
$DarkGrey20: rgba($DarkGrey, 0.2);

// utils
$BorderRadius: 10px;
$BorderRadiusSmall: 5px;
$BorderRadiusTop: $BorderRadius $BorderRadius 0 0;
$BorderRadiusBottom: 0 0 $BorderRadius $BorderRadius;

$BoxShadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
$BoxShadowTop: 0px 3px 6px rgba(0, 0, 0, 0.16);

@mixin saturate-x {
	@for $i from 0 through 100 {
		.saturate-#{$i} {
			$i: calc($i / 100);
			background-color: rgb(13 * $i, 127 * $i, 119 * $i);
		}
	}
}

@include saturate-x;

@mixin for-mobile {
	@media (max-width: 769px) {
		@content;
	}
}

@mixin for-laptop {
	@media (min-width: 770px) and (max-width: 1200px) {
		@content;
	}
}

@mixin for-desktop {
	@media (min-width: 1201px) {
		@content;
	}
}