@use "./src/styles/variables" as *;

.password-reset-page {
	display: grid;
	grid-template-columns: 3fr 2fr;

	.password-reset-image {
		width: 100%;
		height: 100%;
		background: url(images/login-page.png);
		background-size: 100%;
		background-repeat: no-repeat;
		background-position-y: bottom;
	}

	.password-reset-center {
		justify-self: center;
		width: 100%;
		padding: 100px;

		.password-reset-heading {
			text-align: center;
			margin-bottom: 60px;
		}

		.password-reset-box {
			.password-reset-input {
				margin-bottom: 20px;
			}

			.password-reset-action {
				margin-bottom: 40px;

				.btn {
					width: 100%;
					height: 60px;
					border-radius: $BorderRadius;
					font-size: 24px;
				}
			}
		}
	}
}