@use "./src/styles/variables"as *;

.course-wrapper {
	display: grid;
	grid-template-columns: minmax(300px, 1fr);
	grid-template-rows: auto minmax(0, 1fr);
	gap: 50px;
	height: 100%;
	
	&.lesson-open {
		grid-template-columns: minmax(300px, 1fr) 60%;

		.dash-section-heading {
			grid-column: 2;
		}

		.course-content {
			grid-row: 1/ span 2;
			border-right: 1px solid $DarkGrey40;
			padding-right: 40px;
		}
	}

	.dash-section-heading {
		.course-section-dates {
			display: flex;
			align-items: center;
			gap: 20px;
			font-family: $Poppins;
			font-size: 30px;
			font-weight: $regular;

			.section-dates-divider {
				height: 15px;
				width: 15px;
				border-radius: 15px;
				background-color: $Orange;
			}
		}
	}

	.lesson-wrapper {
		display: grid;
		grid-template-rows: auto minmax(300px, 1fr) auto;

		.lesson-heading {
			font-family: $Poppins;
			font-size: 40px;
			font-weight: $semi-bold;
		}

		.lesson-video-wrapper {
			padding: 40px 0;
			
			.lesson-video {
				min-width: 300px;
				height: 100%;
				width: 100%;
				background-color: $LightGrey;

				.lesson-video-component {
					max-height: 100%;
					max-width: 100%;
					display: flex;
					margin: auto;
				}
			}
		}

		.lesson-action {
			display: flex;
			justify-content: flex-end;
		}
	}
}