@use "./src/styles/variables" as *;

.popup-wrapper {
	display: flex;
	align-items: center;
	position: relative;

	&.right {
		.popup-box-wrapper {
			flex-direction: row;

			.triangle {
				border-right-color: $SeaGreen;
				border-left: none;
			}
		}
	}

	&.left {
		.popup-box-wrapper {
			flex-direction: row-reverse;

			.triangle {
				border-left-color: $SeaGreen;
				border-right: none;
			}
		}
	}

	&.bottom {
		flex-direction: column;

		.popup-box-wrapper {
			flex-direction: column;

			.triangle {
				border-bottom-color: $SeaGreen;
				border-top: none;
			}
		}
	}

	&.top {
		flex-direction: column;

		.popup-box-wrapper {
			flex-direction: column-reverse;

			.triangle {
				border-top-color: $SeaGreen;
				border-bottom: none;
			}
		}
	}

	.popup-circle {
		height: 20px;
		width: 20px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 20px;
		color: $DarkGrey;
		cursor: default;
	}
	
	.popup-box-wrapper {
		position: fixed;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 9;

		.triangle {
			width: 0;
			height: 0;
			border: 12px solid transparent;
		}

		.popup-box {
			background-color: white;
			border: 2px solid $SeaGreen;
			padding: 20px;
			border-radius: $BorderRadius;
			box-shadow: $BoxShadow;
			width: 320px;
			font-size: 15px;
			color: $DarkGrey;
			text-transform: none;
			font-family: $Roboto;
			font-weight: $regular;
		}
	}
}

@keyframes show {
	0% { opacity: 0 };
	100% { opacity: 1 };
}