@use "./src/styles/variables"as *;

.login-page {
	display: grid;
	grid-template-columns: 3fr 2fr;

	&.register-page {
		.login-image {
			background-image: url(images/content/register.png);
		}
	}

	&.reset-password-page {
		.login-image {
			background-image: url(images/content/reset-password.png);
		}
	}

	.login-image {
		width: 100%;
		height: 100%;
		background-image: url(images/content/login-page.png);
		background-size: 100%;
		background-repeat: no-repeat;
		background-position-y: bottom;
	}

	.login-center {
		justify-self: center;
		width: 100%;
		padding: 100px;

		.login-heading-wrapper {
			margin-bottom: 60px;
			display: flex;
			justify-content: center;

			.login-heading {
				text-align: center;
				font-family: $Poppins;
				font-size: 48px;
				padding: 0 40px;
				display: flex;
				align-items: center;
				gap: 20px;
				color: $SeaGreen;
				font-weight: $bold;
				
				&.login-heading-clickable {
					cursor: pointer;
				}

				.icon {
					font-size: 40px;
					font-weight: $bold;
				}
			}
		}

		.login-box {
			.login-inputs {
				display: flex;
				flex-direction: column;
				gap: 10px;
			}

			.login-action {
				margin-top: 20px;
				margin-bottom: 40px;

				.btn {
					width: 100%;
					height: 60px;
					border-radius: $BorderRadius;
					font-size: 24px;
				}
			}

			.login-links {
				display: flex;
				align-items: center;
				justify-content: center;

				a {
					padding: 0 20px;

					&:nth-child(2) {
						border-left: 2px solid $Black;
					}
				}
			}

			.login-success {
				display: flex;
				align-items: center;
				flex-direction: column;
				gap: 20px;
				
				.login-box-icon {
					font-size: 40px;
					color: $SeaGreen;
				}
			}
		}
	}
}