@use "./src/styles/variables"as *;

.login-page {
	display: grid;
	grid-template-columns: 3fr 2fr;

	.login-image {
		width: 100%;
		height: 100%;
		background: url(images/login-page.png);
		background-size: 100%;
		background-repeat: no-repeat;
		background-position-y: bottom;
	}

	.login-center {
		justify-self: center;
		width: 100%;
		padding: 100px;

		.login-heading-wrapper {
			margin-bottom: 60px;
			display: flex;
			justify-content: center;

			.login-heading {
				text-align: center;
				font-family: $Poppins;
				font-size: 48px;
				cursor: pointer;
				padding: 0 40px;
				display: flex;
				align-items: center;
				gap: 20px;

				&:nth-child(2) {
					border-left: 5px solid $SeaGreen;
				}
				
				&.active-heading {
					color: $SeaGreen;
					font-weight: $bold;
				}

				.icon {
					font-size: 40px;
					font-weight: $bold;
				}
			}
		}

		.login-box {
			.login-input {
				margin-bottom: 20px;
			}

			.login-action {
				margin-bottom: 40px;

				.btn {
					width: 100%;
					height: 60px;
					border-radius: $BorderRadius;
					font-size: 24px;
				}
			}
		}
	}
}