@use "./src/styles/variables" as *;

.radio-label {
	margin-bottom: 30px;
}

.radio-options-wrapper {
	display: flex;
	gap: 40px;

	.radio-option {
		cursor: pointer;
		display: flex;
		align-items: center;
		gap: 20px;
		font-size: 24px;

		&.selected-radio-option {
			.radio-circle {
				.radio-inner-circle {
					opacity: 1;
				}
			}
		}

		&.disabled-radio-option {
			opacity: 0.6;
			pointer-events: none;
			cursor: default !important;
		}

		.radio-circle {
			display: flex;
			align-items: center;
			justify-content: center;
			border: 4px solid $SeaGreen;
			height: 40px;
			width: 40px;
			border-radius: 40px;
			position: relative;
			
			.radio-inner-circle {
				background-color: $SeaGreen;
				opacity: 0;
				transition: all 0.3s;
				height: 24px;
				width: 24px;
				border-radius: 25px;
				position: absolute;
			}
		}
	}
}