@use "./src/styles/variables" as *;

.radio-label {
	margin-bottom: 30px;
}

.radio-options-wrapper {
	.radio-option {
		cursor: pointer;
		display: flex;
		align-items: center;
		gap: 20px;
		font-size: 20px;
		margin-bottom: 10px;

		&:hover {
			.radio-circle {
				.radio-inner-circle {
					opacity: 0.2;
				}
			}
		}

		&.selected-radio-option {
			.radio-circle {
				.radio-inner-circle {
					opacity: 1;
				}
			}
		}

		&.disabled-radio-option {
			opacity: 0.6;
			pointer-events: none;
			cursor: default !important;
		}

		.radio-circle {
			display: flex;
			align-items: center;
			justify-content: center;
			border: 3px solid $SeaGreen;
			min-height: 30px;
			max-height: 30px;
			min-width: 30px;
			max-width: 30px;
			border-radius: 30px;
			position: relative;
			
			.radio-inner-circle {
				background-color: $SeaGreen;
				opacity: 0;
				transition: all 0.3s;
				height: 20px;
				width: 20px;
				border-radius: 25px;
				position: absolute;
			}
		}
	}
}

.radio-blocks-wrapper {
	display: grid;
	gap: 40px;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	grid-template-rows: repeat(auto-fill, minmax(0, 1fr));
}