@use "./src/styles/variables" as *;

.radio-label {
	margin-bottom: 30px;
}

.radio-options-wrapper {
	&.radio-options-inline {
		display: grid;
		align-items: center;
		grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
		justify-items: center;
		gap: 40px;

		&.radio-options-stars {
			display: flex;
			gap: 0;

			&.empty-stars {
				.radio-option .radio-circle-wrapper .radio-star {
					font-variation-settings: "FILL" 0;
				}
			}
		}

		.radio-option {
			margin: 0;
		}
	}

	&.radio-options-hovering.radio-options-inline.radio-options-stars {
		.radio-option {
			.radio-circle-wrapper .radio-star {
				font-variation-settings: "FILL" 1;
			}

			&.hovered-radio-option {
				& ~ .radio-option .radio-circle-wrapper .radio-star {
					font-variation-settings: "FILL" 0;
				}
			}
		}
	}

	.radio-option {
		margin-bottom: 10px;

		&:hover {
			.radio-circle-wrapper {
				.radio-circle .radio-inner-circle {
					opacity: 0.2;
				}
			}
		}

		&.disabled-radio-option {
			opacity: 0.6;
			pointer-events: none;
			cursor: default !important;
		}

		&.selected-radio-option {
			& ~ .radio-option .radio-circle-wrapper .radio-star {
				font-variation-settings: "FILL" 0;
			}
	
			.radio-circle-wrapper .radio-circle .radio-inner-circle { 
				opacity: 1;
			}
		}

		.radio-circle-wrapper {
			cursor: pointer;
			display: flex;
			gap: 20px;
			font-size: 20px;

			.radio-circle {
				display: flex;
				align-items: center;
				justify-content: center;
				border: 3px solid $SeaGreen;
				min-height: 30px;
				max-height: 30px;
				min-width: 30px;
				max-width: 30px;
				border-radius: 30px;
				position: relative;
				
				.radio-inner-circle {
					background-color: $SeaGreen;
					opacity: 0;
					transition: all 0.3s;
					height: 20px;
					width: 20px;
					border-radius: 25px;
					position: absolute;
				}
			}

			.radio-star {
				font-size: 60px;
				color: $Orange;
			}
		}

		.radio-option-subtext {
			color: $DarkGrey60;
			font-size: 18px;
			padding-left: 50px;
		}
	}
}

.radio-blocks-wrapper {
	display: grid;
	gap: 40px;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	grid-template-rows: repeat(auto-fill, minmax(0, 1fr));
}