@use "./src/styles/variables"as *;

.base-strategy-option-wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 20px;
	overflow: auto;

	@include for-laptop {
		grid-template-columns: auto;
	}

	>div:not(:last-child) {
		border-right: 1px solid $DarkGrey40;
		padding-right: 20px;

		@include for-laptop {
			border-right: none;
			padding-right: p;
		}
	}

	.base-strategy-option-heading {
		display: flex;
		align-items: center;
		gap: 10px;
		margin-bottom: 20px;
	}
}