@use "./src/styles/variables"as *;

.base-strategy-option-wrapper {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;

	>div:not(:last-child) {
		border-right: 1px solid $DarkGrey40;
		padding-right: 20px;
	}

	.base-strategy-option-heading {
		display: flex;
		align-items: center;
		gap: 10px;
		margin-bottom: 20px;

		.base-strategy-sub-text {
			color: $DarkGrey60;
			font-size: 18px;
		}
	}
}