@use "./src/styles/variables" as *;

.input-wrapper {
	&.disable-input {
		.input-box-wrapper {
			.input-box {
				pointer-events: none;
				background: none;
			}
		}
	}

	&.password-input {
		.input-box {
			input {
				padding-right: 60px !important;
			}
		}
	}

	&.large-input {
		&.large-input-invalid {
			.input-box {
				outline: 2px solid $Error !important;
			}
		}

		.input-box {
			input {
				font-size: 30px !important;
				text-align: center;
			}
		}
	}

	&.textarea-input {
		.input-box-wrapper {
			.input-box {
				height: initial;
				position: relative;

				textarea {
					position: absolute;
					z-index: 1;
					left: 0;
					top: 0;
					height: 100%;
				}

				.input-height-test {
					opacity: 0;
				}
			}
		}
	}

	.input-label-wrapper {
		width: 100%;
		margin-bottom: 7px;
		display: flex;
		flex-direction: column;
		gap: 5px;
		padding-left: 30px;

		.input-label {
			font-size: 22px;
			font-weight: $light;
		}
	}

	.input-box-wrapper {
		display: flex;
		align-items: center;

		.input-box {
			background: $White;
			border-radius: $BorderRadius;
			height: 60px;
			width: 100%;
			display: flex;
			overflow: hidden;
			position: relative;
			transition: all 0.3s ease;
			outline: 2px solid $SeaGreen;
			
			input, textarea {
				transition: all 0.3s ease;
				padding: 0 10px;
				width: 100%;
				border: none;
				background-color: transparent;
				font-size: 20px;
				resize: none;
				outline: none;
	
				&:hover {
					background-color: $LightGrey;
				}
	
				/* Chrome, Safari, Edge, Opera */
				&::-webkit-outer-spin-button,
				&::-webkit-inner-spin-button {
					-webkit-appearance: none;
					margin: 0;
				}
	
				/* Firefox */
				&[type=number] {
					-moz-appearance: textfield;
				}
			}
	
			.input-password-toggle {
				position: absolute;
				right: 0;
				height: 100%;
				width: 60px;
				display: flex;
				align-items: center;
				justify-content: center;
				cursor: pointer;
				transition: all 0.3s ease;
				background-color: transparent;
				color: $DarkGrey;
			}
		}
	}

	.input-limit-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 5px;
		color: $DarkGrey60;
		font-size: 15px;

		.input-minimum {
			display: flex;
			align-items: center;
			gap: 10px;

			&.input-minimum-reached {
				.icon {
					color: $Orange;
				}
			}
		}

		.input-maxed {
			// TODO: add style?
		}
	}
}