@use "./src/styles/variables" as *;

.input-wrapper {
	&.invalid-input {
		.input-box {
			outline: 2px solid $Error !important;
		}

		.input-error {
			color: $Error;
		}
	}

	&.disable-input {
		.input-box-wrapper {
			.input-box {
				pointer-events: none;
				background: none;
			}
		}
	}

	&.password-input {
		.input-box {
			input {
				padding-right: 60px !important;
			}
		}
	}

	&.large-input {
		.input-box {
			input {
				font-size: 30px !important;
				text-align: center;
			}
		}
	}

	.input-label-wrapper {
		width: 100%;
		margin-bottom: 7px;
		display: flex;
		flex-direction: column;
		gap: 5px;
		padding-left: 30px;

		.input-label {
			font-size: 22px;
			font-weight: $light;
		}
	}

	.input-box-wrapper {
		display: flex;
		align-items: center;

		.input-box {
			background: $White;
			border-radius: $BorderRadius;
			height: 60px;
			width: 100%;
			display: flex;
			overflow: hidden;
			position: relative;
			transition: all 0.3s ease;
			outline: 2px solid $SeaGreen;
			
			input {
				transition: all 0.3s ease;
				padding: 0 10px;
				width: 100%;
				border: none;
				background-color: transparent;
				font-size: 20px;
	
				&:hover {
					background-color: $LightGrey;
				}
	
				/* Chrome, Safari, Edge, Opera */
				&::-webkit-outer-spin-button,
				&::-webkit-inner-spin-button {
					-webkit-appearance: none;
					margin: 0;
				}
	
				/* Firefox */
				&[type=number] {
					-moz-appearance: textfield;
				}
			}
	
			.input-password-toggle {
				position: absolute;
				right: 0;
				height: 100%;
				width: 60px;
				display: flex;
				align-items: center;
				justify-content: center;
				cursor: pointer;
				transition: all 0.3s ease;
				background-color: transparent;
				color: $DarkGrey;
			}
		}
	}

	.input-error {
		font-size: 10px;
		text-transform: uppercase;
		$White-space: nowrap;
		height: 15px;
		margin-top: 3px;
		text-align: right;
		font-weight: $light;
	}
}