@use "./src/styles/variables"as *;

.base-evaluation-feelings-wrapper {
	display: grid;
	grid-template-columns: 3fr 2fr;
	grid-template-rows: 1fr;
	gap: 50px;

	@include for-laptop {
		display: block;
	}

	> div:first-child {
		padding-right: 50px;
		border-right: 1px solid $DarkGrey60;

		@include for-laptop {
			padding-right: 0;
			border-right: none;
			margin-bottom: 20px;
		}
	}

	.base-evaluation-feelings {
		display: flex;
		flex-direction: column;
		gap: 50px;
	}
}