@use "./src/styles/variables" as *;

.navbar-wrapper {
	height: 100%;
	display: flex;
	align-items: center;
	gap: 50px;
	background-color: $White;
	padding: 0 30px;
	box-shadow: $BoxShadow;

	.navbar-name {
		font-size: 40px;
		color: $SeaGreen;
		font-family: $Poppins;
		font-weight: $bold;
	}

	.nav-item {
		font-size: 30px;
		font-family: $Poppins;
		font-weight: $semi-bold;
		transition: all 0.3s;
		position: relative;
		cursor: pointer;

		&:hover {
			color: $Orange;
		}

		&::after {
			position: absolute;
			bottom: -6px;
			left: 0;
			width: 0;
			height: 3px;
			background-color: $Orange;
			content: '';
			transition: all 0.3s;
		}

		&.active-nav-item {
			&::after {
				width: 100%;
			}
		}
	}
}