@use "./src/styles/variables"as *;

.week-wrapper {
	margin-bottom: 5px;

	.week-resource {
		display: grid;
		grid-template-columns: 50px auto 100px;
		border-bottom: 1px solid $Grey;
		padding: 10px 20px;

		&.week-resource-active {
			background-color: $Grey;
		}
	}
}