@use "./src/styles/variables" as *;

.toast {
	padding: 20px 40px;
	background-color: $White;
	border-radius: $BorderRadius;
	box-shadow: $BoxShadow;
	position: fixed;
	z-index: 99;
	bottom: -10px;
	left: 20px;
	transition: all 0.3s;
	border: 1px solid $LightGrey;
	color: $SeaGreen;
	opacity: 0;

	&.toast-visible {
		bottom: 20px;
		opacity: 1;
	}
}