@use "./src/styles/variables"as *;

.ludus-chart {
	max-height: 200px;
	margin: 20px 0;
}

.ludus-info {
	font-size: 16px;
	font-weight: $semi-bold;
	color: $SeaGreen;
	margin-bottom: 20px;
}

.ludus-gauges {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 20px;
}