@use "./src/styles/variables"as *;

.ludus-chart {
	max-height: 200px;
	margin: 20px 0;
}

.ludus-info {
	font-size: 16px;
	font-weight: $semi-bold;
	color: $SeaGreen;
	margin-bottom: 20px;
	display: flex;
	gap: 10px;
}

.ludus-gauges {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
	gap: 20px;
}

.ludus-details-gauges {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 5px 20px;

	.ludus-detail-gauge {
		width: 30%;
	}
}