@use "./src/styles/variables"as *;

.ludus-evaluation-score-wrapper {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-top: 50px;

	.ludus-evaluation-score-text {
		text-transform: uppercase;
		font-weight: $bold;
		font-style: $Poppins;
		color: $SeaGreen;
		font-size: 22px;
	}

	.ludus-evaluation-score {
		font-size: 22px;
		font-weight: $bold;
		font-style: $Poppins;
		background-color: $Orange;
		color: white;
		padding: 5px 15px;
		border-radius: 20px;
	}
}