@use "styles/reset";
@use "styles/variables";
@use "styles/typography";
@use "styles/buttons";
@use "styles/layout";
@use "styles/grid-flex";

@use "resources/accordion/accordion";
@use "resources/checkbox/checkbox";
@use "resources/checkMark/check-mark";
@use "resources/iconButton/icon-button";
@use "resources/inputBox/input-box";
@use "resources/inputList/input-list";
@use "resources/loader/loader";
@use "resources/message/message";
@use "resources/modal/modal";
@use "resources/pageLoader/page-loader";
@use "resources/popup/popup";
@use "resources/radioButton/radio-button";
@use "resources/ratingBox/rating-box";
@use "resources/sectionTracker/section-tracker";
@use "resources/toast/toast";

@use "AdminDashboard/admin-dashboard";
@use "Dashboard/dashboard";
@use "Dashboard/CourseView/course-view";
@use "Dashboard/CourseView/SectionView/section-view";
@use "Dashboard/CourseView/SectionView/LessonView/lesson-view";
@use "Reflections/reflections";
@use "Reflections/ReflectionsDetails/reflections-details";
@use "Reflections/ReflectionsDetails/baseSystem/evaluation/base-evaluation-details";
@use "Login/login";
@use "navbar/navbar";