@use "./src/styles/variables" as *;

.check-mark-wrapper {
	height: 27px;
	width: 27px;
	border: 2px solid $SeaGreen;
	display: flex;
	align-items: center;
	justify-content: center;

	&.checked {
		background-color: $SeaGreen;
		color: $White;
	}
}