@use "./src/styles/variables"as *;

.accordion-wrapper {
	&.accordion-open {
		.accordion-header {
			background-color: $LighterGrey !important;
		}

		.accordion-body-wrapper {
			max-height: 1000px;
		}
	}

	&.accordion-disabled {
		.accordion-header {
			opacity: 0.6;
			background-color: $LightGrey;
			pointer-events: none;
		}
	}

	&.accordion-header-only {
		.accordion-header {
			background-color: $White;
		}
	}

	.accordion-header {
		padding: 25px 20px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		background-color: $LighterGrey;
		cursor: pointer;

		.accordion-chevron {
			font-size: 40px;

			.accordion-chevron-open {
				transform: rotate(180deg);
			}
		}
	}

	.accordion-body-wrapper {
		max-height: 0;
		overflow: hidden;
		transition: all 0.3s;
		
		.accordion-body {
			padding: 10px 0;
		}
	}
}