@use "./src/styles/variables"as *;

.section-lesson {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 20px;
	transition: all 0.3s;
	cursor: pointer;
	border-bottom: 1px solid $DarkGrey20;

	&:hover {
		background-color: $LighterGrey;
	}

	&.section-lesson-active {
		background-color: $LightGrey;
	}

	&.section-lesson-unavailable {
		opacity: 0.5;
		pointer-events: none;
		background-color: $LighterGrey;
	}

	.section-section {
		display: flex;
		align-items: center;
		gap: 20px;
		
		&:last-child {
			flex-wrap: wrap;
		}
	}

	.section-name {
		color: $DarkGrey;

		.body-large {
			margin-bottom: 15px;
		}
	}

	.section-runtime {
		display: flex;
		align-items: center;
		gap: 10px;
		color: $DarkGrey;
		margin-left: 50px;
	}

	.lessons-btn {
		margin-left: auto;
	}
}