@use "./src/styles/variables"as *;

.prompt-modal-body {
	height: 100%;
}

.prompt-wrapper {
	display: grid;
	grid-template-rows: minmax(0, 1fr) auto;
	gap: 20px;
	height: 100%;

	.prompt-body {
		display: grid;
		grid-template-rows: 1fr;
	}
}

.reflection-question {
	font-family: $Poppins;
	font-weight: $semi-bold;
	color: $SeaGreen;
}

.base-strategy-rating-wrapper {
	display: grid;
	grid-template-columns: 40px minmax(250px, min-content) 100px;
	align-items: center;
	padding: 10px 0;
	gap: 25px;

	.base-strategy-rating {
		display: flex;
		align-items: center;
		gap: 10px;

		.base-strategy-rating-total {
			font-size: 30px;
			font-weight: $bold;
		}
	}
}

.base-strategy-heading {
	color: $SeaGreen;
	font-family: $Poppins;
	font-size: 20px;
	font-weight: $semi-bold;
	text-transform: uppercase;
}