@use "./src/styles/variables"as *;

.prompt-modal-body {
	height: 100%;
}

.prompt-wrapper {
	display: grid;
	grid-template-rows: minmax(0, 1fr) auto;
	gap: 20px;
	height: 100%;

	.prompt-body {
		display: grid;
		grid-template-rows: minmax(0, 1fr);

		.prompt-section {
			display: grid;
			grid-template-rows: minmax(0, min-content);
			grid-auto-rows: minmax(0, min-content);
		}

		.prompt-section-wide {
			display: grid;
			grid-template-rows: auto minmax(0, 1fr) auto;
		}
	}
}

.reflection-question {
	font-family: $Poppins;
	font-weight: $semi-bold;
	color: $SeaGreen;
	font-size: 20px;
}

.reflection-sub-question {
	font-family: $Poppins;
	color: $SeaGreen;
	font-size: 20px;
}

.base-strategy-rating-wrapper {
	display: grid;
	grid-template-columns: 40px minmax(250px, 700px) 100px;
	align-items: center;
	padding: 10px 0;
	gap: 25px;

	.base-strategy-rating {
		display: flex;
		align-items: center;
		gap: 10px;

		.base-strategy-rating-total {
			font-size: 30px;
			font-weight: $bold;
		}
	}
}

.strategy-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
	overflow: auto;
	
	.strategy-option-wrapper {
		border-right: 1px solid $DarkGrey40;
		padding-right: 20px;
		overflow: auto;

		.strategy-option {
			max-width: 80%;

			&:not(:last-child) {
				padding-bottom: 20px;
				border-bottom: 1px solid $DarkGrey40;
				margin-bottom: 20px;
			}
		}
	}

	.strategy-visual {
		overflow: auto;
	}
}

.strategy-heading-wrapper {
	margin-bottom: 20px;
}

.strategy-heading {
	color: $SeaGreen;
	font-family: $Poppins;
	font-size: 20px;
	font-weight: $semi-bold;
	text-transform: uppercase;
}

.strategy-text {
	font-size: 18px;
}

.strategy-sub-text {
	color: $DarkGrey60;
	font-size: 18px;
}